<?xml version='1.0' encoding='utf-8'?>
<widget id="com.neodevel.network" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>NetworkConnection</name>
    <description>
        Una aplicación para probar el Plugin Connection del Apache Cordova
    </description>
    <author email="hugo.sanchezalcala@gmail.com" href="http://neodevel.com">
        Hugo Sánchez Alcalá
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.1" />
</widget>
